// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';
@import 'font-awesome';

body {
  background: #e2ebf3;
}
ul{
  list-style: none;
}

img{
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.small-block-grid-3{
  display: inline-block;
    li{
      width: 400px;
      text-align: center;
      overflow: hidden;
    }
}